{% extends 'travel_wishlist/base.html' %}
{% block content %}

<h2>Travel Wishlist</h2>

<form method="POST" action="{% url 'place_list' %}">
  {% csrf_token %}
  {{ new_place_form }}
  <button id="add-new-place" type="submit">Add</button>
</form>

{% for place in places %}


<div class="wishlist-place">

    <span id="place-name-{{ place.pk }}" class="place-name">
      <a href="{% url 'place_details' place_pk=place.pk %}">{{ place.name }}</a>
    </span>

    <form class="visited-form" method="POST" action="{% url 'place_was_visited' %}">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ place.pk }}">
        <button id="visited-button-{{ place.pk }}" type="submit">Visited!</button>
    </form>

</div>

{% empty %}

<P>You have no places in your wishlist.</p>

{% endfor %}

{% endblock %}
